@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.image-section {
    position: relative; 
    display: flex; 
    justify-content: start; 
    align-items: center; 
    padding: 40px;
}

.image-section img {
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-heading {
    font: small "Roboto Mono", monospace;
    max-width: 600px; 
    padding: 15px; 
    background-color: rgba(168, 174, 169, 0.8); 
    text-align: left;
    z-index: 1; 
}

.card-heading h1 {
    text-align: center;
    margin-bottom: 10px; 
}


.img-container{
    border: 2px solid green;
    height: 200px; 
    width: 200px; 
    border-radius: 50%;
}


article{
    font: large "Roboto Mono", monospace;
    border: 1px solid aquamarine;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 249, 239); 
    
}

.title-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h2 > a{
    text-decoration: none;
    color: rgb(7, 67, 47);;
}

h2 > a:hover{
    text-decoration: underline;
    color: rgb(11, 99, 70);
}


/* Change thiss */
@media (max-width: 400px) {
    article{
      width: 100%; /* Change container width to 100% for smaller screens */
      padding: 0 20px; /* Add padding to the container for spacing */
    }
    
    .title-container {
      width: calc(50% - 20px); 
    }
}